.users-style{
    width: 75%;
    padding-left: 25%;
}
.count{
    position: relative;
    left: 25%;
    margin-top: 20px;
}
.user-img{
    width: 70px;
    border-radius: 35px;
    position: absolute;
}
.user-name{
    font-size: 25px;
    position: relative;
    left: 13%;
}
.user-url{
    position: relative;
    left: 13%;
}