.users-style{
    width: 52%;
    margin-left: 25%;
    background-color: white;
    padding-bottom: 50px;
    margin-top: 20px;
}
.count{
    position: relative;
    left: 25%;
    margin-top: 20px;
    width: 200px;
}
.user-img{
    width: 70px;
    border-radius: 35px;
    position: absolute;
}
.user-name{
    font-size: 25px;
    position: relative;
    left: 13%;
}
.user-url{
    position: relative;
    left: 13%;
}
.pagination-style{
    position: absolute;
    float: right;
    right: 23%;
    padding-top: 10px;
}

.pagination-style /deep/ .pagination-next{
    display:none;
}

.pagination-style /deep/ .pagination-previous{
    display:none;
}