/* You can add global styles to this file, and also import other style files */
.sort-style{
    width: 20%;
    position: absolute;
    left: 25%;
    border-radius: 2px;
}
.form-inline{
    position: relative;
    left: 50%;
}
#searchBox{
    width:360px;
    border-radius: 2px;
}
body{
    background-color: #f2f2f2;
}